<ion-view cache-view="false" hide-back-button="true" ng-controller="sala.chat.detalhar as vm">
    <ion-nav-title>
        {{vm.cotacao.produto.nome}} - Detalhes
    </ion-nav-title>
    <ion-nav-buttons>
		<a class="button ion-chevron-left button-clear" ng-href="javascript:" ng-click="vm.voltarPagina()"></a>
	</ion-nav-buttons>
    <ion-content>
        <div class="center cotacao_view">
            <!--<h2>{{vm.cotacao.solicitacaoTitulo}}</h2>-->

            <div class="head_info">
                <div class="imagem">
                    
                    <span ng-if="vm.cotacao.produto.imagemURL == null || vm.cotacao.produto.imagemURL == ''">
					   <img src="img/placehold_image.png" />
                    </span>
                    <span ng-if="vm.cotacao.produto.imagemURL != null && vm.cotacao.produto.imagemURL != ''">
                        <a href="javascript:" ng-click="vm.ampliarImagem('zoomIn')">
					        <img ng-src="{{vm.cotacao.produto.imagemURL}}" class="imagem-leilao"/>
                        </a>
                    </span>
                </div>
               <p class="title cor_default">{{vm.cotacao.produto.nome}}</p>
                <span><strong>Código de Barras:</strong> {{vm.cotacao.produto.codigo}}</span>
                <span><strong>Unidade de Medida:</strong> {{vm.cotacao.produto.unidadeMedida}}</span>
                <span><strong>Quantidade:</strong> {{vm.cotacao.produto.quantidade}}</span>
                <span><strong>Data de entrega:</strong> {{vm.cotacao.produto.dataEntrega | date:"MM/dd/yyyy"}}</span>
                <hr class="space" />

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <p class="melhores"><i class="fa fa-star"></i> COTAÇÃO:</p>

        <ul class="list_default normal melhores_list">
            <li class="">
                <a href="#">
                    <!--<p class="left primeiro">{{vm.usuario.displayName}}</i>
                    </p>-->

                    <p class="left primeiro">Valor Total</i>
                    </p>
                    <!--<p class="right primeiro" ng-repeat="lance in vm.cotacao.produto.lances | orderBy:'valor' | limitTo:1">{{lance.valor | currency}}</p>-->
                    <p class="right primeiro"> {{vm.cotacao.valor * vm.cotacao.produto.quantidade | currency}}</p>
                    <div class="clear"></div>
                </a>
            </li>
        </ul>

        <p class="desc">
            <strong>Produto(s) disponível:</strong> {{vm.cotacao.disponivel | yesNo}}
            <br />
            <strong ng-show="vm.cotacao.observacao">Observação:</strong> {{vm.cotacao.observacao}}
        </p>

        <hr class="space" />
    </ion-content>

    <script id="imagem.html" type="text/ng-template">

        <div class="modal image-modal transparent">
            <a href="javascript:" ng-click="vm.fecharImagem()"  class="icone-fechar-imagem"><i class="fa fa-times"></i></a>

            <img ng-src="{{vm.cotacao.produto.imagemURL}}" class="fullscreen-image"/>
        </div>
    </script>
</ion-view>