<ion-view cache-view="false" hide-back-button="true" ng-controller="cotacao.solicitacao.cliente.cadastro as vm">
    <ion-nav-title>
        Cadastrar Nova Cotação
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear" ng-href="#" ng-click="vm.voltarPagina()"></a>
    </ion-nav-buttons>
    <ion-content>
        <form novalidate name="formSolicitacao" ng-submit="formSolicitacao.$valid && vm.salvarSolicitacao(vm.solicitacao, vm.produtos)">
            <div class="form_padrao center">
                <div class="clear">
                    <input name="titulo" ng-class="vm.solicitacao.titulo | checked" ng-model="vm.solicitacao.titulo" type="text" placeholder="Título da Cotação *"
                    required/>
                    <input type="hidden" ng-model="vm.solicitacao.usuarioId">
                    <input type="hidden" ng-model="vm.solicitacao.categoriaId">
                </div>
            </div>

            <ul class="list_default normal" ng-show="vm.produtos.length > 0">
                <li ng-repeat="item in vm.produtos">
                    <a href="#" ng-click="vm.editarItem(item)">
                        <p class="left">{{item.nome}}<i class="fa fa-check done"></i></p>
                        <span class="right"><i class="fa fa-chevron-right"></i></span>
                        <div class="clear"></div>
                    </a>
                </li>
            </ul>

            <div class="center">
                <a href="#" class="add_item" ng-click="vm.abrirModalSolicitacaoCadastroItem()">
                    <i class="fa fa-plus-square-o"></i>
                </a>
                <p></p>
                <p class="adicionar_item">Adicionar Item</p>
            </div>


            <div class="error-left" ng-show="formSolicitacao.$submitted">
                <div ng-messages="formSolicitacao.$error">
                    <div ng-messages-include="error-list-solicitacao.html"></div>
                </div>
            </div>

            <div class="error-left" ng-show="!!vm.mensagem">
                <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{vm.mensagem}}
                </span>
            </div>

            <div class="form_padrao center">
                <div class="clear">
                    <!--<input ng-class="vm.produtos.length > 0 && !!vm.solicitacao.titulo ? 'btn_padrao' : 'btn_padrao_disabled'" ng-disabled="vm.produtos.length <= 0 && !vm.titulo"-->
                    <input ng-class="'btn_padrao'" type="submit" value="COTAR BEM!" />
                </div>
            </div>

            <script id="error-list-solicitacao.html" type="text/ng-template">
                <div ng-message="required">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i> Informe os campos com asterisco (*)
                    </span>
                </div>
            </script>
        </form>
    </ion-content>

    <script id="solicitacaoCadastroItem.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <div class="header">
                    <h1>Cadastrar Novo Item</h1>
                    <a href="#" class="" ng-click="vm.fecharModalSolicitacaoCadastroItem()">
                        <span class="notify">
				        <i class="fa fa-times"></i>
                    </span>
                    </a>
                </div>

                <form novalidate name="formCadastroItem" ng-submit="formCadastroItem.$valid && vm.cadastrarItem(vm.cadastro, formCadastroItem)">
                    <div class="form_padrao">
                        <div class="center header_camera">
                            <a class="icon_cadastro" style="background-size: cover; background-image: url('{{vm.usuario.urlImagem}}');" ng-href="javascript:"
                            ng-click="vm.showPopup()">
                                <i ng-hide="!!vm.usuario.urlImagem" class="fa fa-camera"></i>
                            </a>

                            <hr class="space">
                        </div>

                        <div class="clear">
                            <input class="" name="nome" type="text" ng-model="vm.cadastro.nome" placeholder="Nome *" required/>
                        </div>
                        <div class="clear">
                            <select name="tipoCotacao" ng-model="vm.cadastro.tipoCotacao" ng-options="tipoCotacao as tipoCotacao.nome for tipoCotacao in vm.tipoCotacao track by tipoCotacao._id"
                            required>
                                <option value="">Selecione o tipo *</option>
                            </select>
                        </div>
                        <div class="clear">
                            <input type="number" min="1" name="quantidade" ng-model="vm.cadastro.quantidade" placeholder="Quantidade *" required />
                        </div>
                        <div class="clear">
                            <input type="text" placeholder="Data de entrega *" name="dataEntrega" onfocus="(this.type='date')" ng-model="vm.cadastro.dataEntrega" required />
                        </div>
                        <div class="clear">
                            <textarea name="descricao" required maxlength="300" ng-model="vm.cadastro.descricao" placeholder="Descrição detalhada *"></textarea>
                        </div>


                        <div class="clear" ng-show="formCadastroItem.$submitted">
                            <div ng-messages="formCadastroItem.$error">
                                <div ng-messages-include="error-list.html"></div>
                            </div>

                            <hr class="space">

                        </div>

                        <div class="clear">
                            <input class="btn_padrao" type="submit" value="ADICIONAR" />
                        </div>
                    </div>

                    <script id="error-list.html" type="text/ng-template">
                        <div ng-message="required">
                            <span class="alert_error">
                            <i class="fa fa-exclamation-triangle"></i> Informe os campos com asterisco (*)
                            </span>
                        </div>
                        <div ng-message="minlength">
                            <span class="alert_error">
                            <i class="fa fa-exclamation-triangle"></i> Informe senha com pelo menos 3 caracteres
                            </span>
                        </div>
                        <div ng-message="maxlength">
                            <span class="alert_error">
                            <i class="fa fa-exclamation-triangle"></i> Tamanho máximo no campo nome é de 60 caracteres
                            </span>
                        </div>
                    </script>

                    <!--<span class="center">
				    <ul class="list_doit">
					   <li>
						<a class="choose" href="#" ng-click="vm.tirarFoto()">
							<span class="">
								<i class="fa fa-camera"></i>
							</span>
                        </a>
                        </li>
                        <li>
                            <a class="" href="#" ng-click="vm.selecionarFoto()">
                                <span class="">
								<i class="fa fa-paperclip"></i>
							</span>
                            </a>
                        </li>
                        </ul>

                        </span>-->

                    <!--<div class="form_padrao center">
                            <div class="clear">
                                <input class="btn_padrao" type="submit" value="ADICIONAR" />
                            </div>
                        </div>-->
                </form>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>