<ion-view cache-view="false" hide-back-button="true" ng-controller="cotacao.solicitacao.cliente as vm">
    <ion-nav-title>
        {{vm.categoria.categoriaNome}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear" ng-href="#/app/cotacao/dashboard/cliente"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="center">
            <a class="nova_cotacao" ng-href="#" ng-click="vm.solicitacaoCadastro()">
                <i class="fa fa-plus-square-o"></i> Nova Cotação
            </a>

            <hr class="space" />

            <ul class="list_default">
                <li ng-repeat="solicitacao in vm.solicitacoes track by $index">
                    <a href="javascript:" ng-click="vm.solicitacaoSelecionada(solicitacao)">
                        <p class="left">{{solicitacao.titulo}}<span>{{solicitacao.produtos.length}} itens sendo cotados</span></p>
                        <span class="right"><i class="fa fa-chevron-right"></i></span>
                        <p class="right time" ng-show="solicitacao.ativo" my-current-time="solicitacao"></p>
                        <p class="right time done" ng-show="!solicitacao.ativo">cotado</p>
                        <div class="clear"></div>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>