<ion-view cache-view="false" hide-back-button="true" ng-controller="sala.chat as vm">
    <ion-nav-title>
        {{vm.sala.usuario.displayName}}
        <div ng-if="vm.sala.usuario.displayName == undefined">
            Chat
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <div class="icon-right">
            <a ng-show="!vm.sala.menuSala" class="button ion-chevron-left button-clear" ng-href="javascript:" ng-click="vm.voltarPagina()"></a>
        </div>
        <div class="buttons" ng-show="!!vm.sala.menuSala">
            <!--<button class="button button-icon ion-more" ng-click="vm.popover.show($event)">
            </button>-->
            <a href="javascript:void(0)" ng-click="vm.popover.show($event)">
                <i class="fa fa-ellipsis-v icon-ellipsis" aria-hidden="true"></i>
            </a>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons>
        <a ng-show="!!vm.sala.menuSala" class="button ion-chevron-left button-clear" ng-href="javascript:" ng-click="vm.voltarPagina()"></a>
        <button ng-hide="!!vm.sala.menuSala" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true" class="has-header has-footer chat" delegate-handle="userMessageScroll">

        <div ng-repeat="mensagem in vm.mensagens" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">

            <div ng-if="vm.usuario._id !== mensagem.usuario._id">

                <!--         <img ng-click="viewProfile(message)" class="profile-pic left"
                              ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)"/>-->

                <div ng-if="mensagem.usuario.profileImageURL == undefined">
                    <img ng-click="" class="profile-pic left" src="img/icon_user_chat.png" onerror="onProfilePicError(this)" />
                </div>
                <div ng-if="mensagem.usuario.profileImageURL != undefined">
                    <img ng-click="" class="profile-pic left" ng-src="{{mensagem.usuario.profileImageURL}}" onerror="onProfilePicError(this)" />
                </div>

                <div class="chat-bubble left">

                    <div class="message" ng-bind-html="mensagem.mensagem | nl2br">
                    </div>

                    <div class="message-detail">
                        <!--<span ng-click="" class="bold">{{mensagem.usuario.nome}}</span>
                        <span ng-show="mensagem.horario"> • </span>-->
                        <span am-time-ago="mensagem.horario"></span>
                    </div>

                </div>
            </div>

            <div ng-if="vm.usuario._id === mensagem.usuario._id">

                <!-- <img ng-click="viewProfile(message)" class="profile-pic right"
                      ng-src="{{user.pic}}" onerror="onProfilePicError(this)"/>-->

                <div ng-if="mensagem.usuario.profileImageURL == undefined">
                    <img ng-click="" class="profile-pic right" src="img/icon_user_chat.png" onerror="onProfilePicError(this)" />
                </div>
                <div ng-if="mensagem.usuario.profileImageURL != undefined">
                    <img ng-click="" class="profile-pic right" ng-src="{{mensagem.usuario.profileImageURL}}" onerror="onProfilePicError(this)" />
                </div>

                <div class="chat-bubble right">

                    <div class="message" ng-bind-html="mensagem.mensagem | nl2br">
                    </div>

                    <div class="message-detail">
                        <!--<span ng-click="" class="bold">{{vm.usuario.displayName}}</span>
                        <span ng-show="mensagem.horario"> • </span>-->
                        <span am-time-ago="mensagem.horario"></span>
                    </div>

                </div>

            </div>

            <div class="cf"></div>

        </div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="vm.enviarMensagem(vm.mensagem)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea class="col col-30" ng-model="vm.mensagem" value="" placeholder="Digite aqui..." required minlength="1" maxlength="1500"
                msd-elastic></textarea>
            </label>

            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!vm.mensagem || vm.mensagem === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>

    <script id="detalheProduto.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <div class="header">
                    <h1>Detalhe Produto</h1>
                    <a href="#" class="" ng-click="vm.fecharModalDetalheProduto()">
                        <span class="notify">
				        <i class="fa fa-times"></i>
                    </span>
                    </a>
                </div>
                <div class="center cotacao_view">
                    <h2>{{vm.sala.solicitacao.titulo}}</h2>

                    <div class="head_info">
                        <div class="imagem">
                            <span ng-if="vm.sala.produto.urlImagem == null">
					   <img src="img/placehold_image.png" />
                    </span>
                            <span ng-if="vm.sala.produto.urlImagem != null">
					   <img ng-src="{{vm.sala.produto.urlImagem}}" />
                    </span>
                        </div>
                        <p class="title cor_default">{{vm.sala.produto.nome}}</p>
                        <span><strong>Tipo:</strong> {{vm.sala.produto.tipoCotacao.nome}}(s)</span>
                        <span><strong>Quantidade:</strong> {{vm.sala.produto.quantidade}}</span>
                        <span><strong>Data de entrega:</strong> {{vm.sala.produto.dataEntrega | date:"MM/dd/yyyy"}}</span>

                        <hr class="space" />

                        <span ng-show="!!vm.mostraDescricao">{{vm.sala.produto.descricao}}</span>

                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                <p class="melhores"><i class="fa fa-star"></i> MELHOR COTAÇÃO:</p>

                <ul class="list_default normal melhores_list">
                    <li class="">
                        <a href="#">
                            <p class="left primeiro">{{vm.usuarioVencedor.usuarioNome}}</i>
                            </p>
                            <p class="right primeiro">{{vm.usuarioVencedor.valor | currency}}</p>
                            <div class="clear"></div>
                        </a>
                    </li>
                </ul>

                <p class="desc">
                    <strong>Logradouro:</strong> {{vm.usuarioVencedorEndereco.endereco.logradouro}} - nº {{vm.usuario.endereco.numero}}
                    <br />
                    <strong>Bairro:</strong> {{vm.usuarioVencedorEndereco.endereco.bairro}}
                    <br />
                    <strong>Cidade:</strong> {{vm.usuarioVencedorEndereco.endereco.cidade}} - {{vm.usuarioVencedorEndereco.endereco.estado}}
                    <br />
                    <strong>CNPJ:</strong> {{vm.usuarioVencedorEndereco.cnpj}}
                    <br />
                    <strong>TEL:</strong> {{vm.usuarioVencedorEndereco.telefone}}
                    <br />
                    <strong>E-mail:</strong> {{vm.usuarioVencedorEndereco.email}}
                    <br />
                </p>

                <!--<p class="avalie_isso">
                    <span ng-hide="vm.avaliacao.rate > 0">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="javascript:" ng-click="vm.showPopup()">Avalie esta cotação!</a>
            </span>
                    <span ng-if="vm.avaliacao.rate > 0">
                Avaliação: <rating ng-model="vm.avaliacao.rate" max="vm.avaliacao.max"></rating>
             </span>
                </p>
                <hr class="space" />-->
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="denuncia.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <div class="header">
                    <h1>Denúncia</h1>
                    <a href="#" class="" ng-click="vm.fecharModalDenuncia()">
                        <span class="notify">
				        <i class="fa fa-times"></i>
                    </span>
                    </a>
                </div>

                <div class="form_padrao">
                    <form name="formDenuncia" novalidate ng-submit="formDenuncia.$valid && vm.enviarDenuncia(vm.denuncia, formDenuncia)">

                        <div class="clear">
                            <textarea name="descricao" required maxlength="300" ng-model="vm.denuncia.descricao" placeholder="Descrição detalhada *"></textarea>
                        </div>

                        <div class="clear" ng-show="formDenuncia.$submitted">
                            <div ng-messages="formDenuncia.$error">
                                <div ng-messages-include="error-list.html"></div>
                            </div>
                        </div>

                        <hr class="space">

                        <div class="clear">
                            <input class="btn_padrao" type="submit" value="Enviar" />
                        </div>

                        <script id="error-list.html" type="text/ng-template">
                            <div ng-message="required">
                                <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Informe a descrição da denúncia (*)
                    </span>
                            </div>
                        </script>
    </form>
    </div>
    </ion-content>
    </ion-modal-view>
    </script>

    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view class="popover">
            <ion-content>
                <div class="list">
                    <!--<a class="item" href="javscript:" ng-click="vm.denunciar(vm.sala)">
                        Denunciar
                    </a>-->
                    <a class="item" href="javascript:" ng-click="vm.detalharCotacaoProduto(vm.sala)">
                        Detalhes do produto
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>

<!--
<ion-view view-title="Categorias" cache-view="false" hide-back-button="true" ng-controller="sala as vm">
    <ion-content>
        <div class="list listbox">
            <div class="item" ng-repeat="sala in vm.salas" ng-click="vm.salaSelecionada(sala)">
                {{ sala.nome }} - {{sala.ativo | statusDescricao}}
                <span ng-show="sala.ativo" my-current-time="sala"></span>
            </div>
        </div>
    </ion-content>
</ion-view>-->


<!--
<ion-view cache-view="false" hide-back-button="true" ng-controller="chat as vm">
    <ion-nav-title>
        Chat
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear" ng-click="vm.voltarPagina()">Voltar</a>
    </ion-nav-buttons>
    &lt;!&ndash;   <ion-content>
       <ion-list>
           <div ng-repeat="message in vm.messages track by $index" class="row responsive-sm">
               <ion-item class="col-50">
                   <span class="username">{{message.username}}</span>
                   <span class="message">{{message.message}}</span>
                   <span class="message">{{message.horario}}</span>
               </ion-item>
           </div>
       </ion-list>

       </ion-content>
       <div class="bar bar-footer">
           <input class="col col-80" type="text" class="input-label" id="chatInput" placeholder="Digite aqui..."
                  ng-model="vm.mensagem">

           <button type="submit" ng-disabled="vm.sala.ativo" class="button button-small"
                   ng-click="vm.enviarMensagem(vm.mensagem)">
               <i class="ion-paper-airplane"></i> Enviar
           </button>

       </div>&ndash;&gt;

    <ion-content has-bouncing="true" class="has-header has-footer"
                 delegate-handle="userMessageScroll">

        <div ng-repeat="message in vm.messages" class="message-wrapper"
             on-hold="onMessageHold($event, $index, message)">

            <div ng-if="vm.usuario._id !== message.usuarioId">

                &lt;!&ndash;         <img ng-click="viewProfile(message)" class="profile-pic left"
                              ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)"/>&ndash;&gt;

                <img ng-click="" class="profile-pic left"
                     ng-src="https://pbs.twimg.com/profile_images/3212075639/b408d7db5a7ab6792b131671ba6c235a_bigger.png"
                     onerror="onProfilePicError(this)"/>

                <div class="chat-bubble left">

                    <div class="message" ng-bind-html="message.message | nl2br">
                    </div>

                    <div class="message-detail">
                               <span ng-click=""
                                     class="bold">{{message.usuarioNome}}</span>
                        <span ng-show="message.horario">-</span>
                        <span am-time-ago="message.horario"></span>
                    </div>

                </div>
            </div>

            <div ng-if="vm.usuario._id === message.usuarioId">

                &lt;!&ndash; <img ng-click="viewProfile(message)" class="profile-pic right"
                      ng-src="{{user.pic}}" onerror="onProfilePicError(this)"/>&ndash;&gt;

                <img ng-click="" class="profile-pic right"
                     ng-src="https://pbs.twimg.com/profile_images/3212075639/b408d7db5a7ab6792b131671ba6c235a_bigger.png"
                     onerror="onProfilePicError(this)"/>

                <div class="chat-bubble right">

                    <div class="message" ng-bind-html="message.message | nl2br">
                    </div>

                    <div class="message-detail">
                               &lt;!&ndash;<span ng-click=""
                                     class="bold">{{vm.usuario.nome}}</span>&ndash;&gt;
                        &lt;!&ndash;<span ng-show="message.horario">-</span>&ndash;&gt;
                        <span am-time-ago="message.horario"></span>
                    </div>

                </div>

            </div>

            <div class="cf"></div>

        </div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="vm.enviarMensagem(vm.mensagem)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea class="col col-30" ng-model="vm.mensagem" value="" placeholder="Digite aqui..." required minlength="1"
                          maxlength="1500" msd-elastic></textarea>
            </label>

            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!vm.mensagem || vm.mensagem === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>

&lt;!&ndash;
<ion-view view-title="Categorias" cache-view="false" hide-back-button="true" ng-controller="sala as vm">
    <ion-content>
        <div class="list listbox">
            <div class="item" ng-repeat="sala in vm.salas" ng-click="vm.salaSelecionada(sala)">
                {{ sala.nome }} - {{sala.ativo | statusDescricao}}
                <span ng-show="sala.ativo" my-current-time="sala"></span>
            </div>
        </div>
    </ion-content>
</ion-view>&ndash;&gt;
-->