<ion-view cache-view="false" hide-back-button="true" ng-controller="cotacao.cliente as vm">
    <ion-nav-title ng-show="!vm.procurar">
        Minhas Cotações
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <div class="searchBar">
            <div class="searchTxt" ng-if="vm.procurar">
                <div class="bgdiv"></div>
                <div class="bgtxt">
                    <input type="text" id="search" name="search" placeholder="Procurar..." ng-model="vm.search" focus-me>
                </div>
            </div>
            <div class="search-icon ">
                <i class="fa fa-search" aria-hidden="true" ng-click="vm.procurar = !vm.procurar"></i>
            </div>
        </div>
        <a href="javascript:void(0)" ng-click="vm.popover.show($event)">
            <i class="fa fa-ellipsis-v icon-ellipsis" aria-hidden="true"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="center">
            <!--<a class="nova_cotacao" ng-href="#/app/cotacao/cliente/solicitacao/adicionar/">
                <i class="fa fa-plus-square-o"></i> Nova Cotação
            </a>-->
            <ul class="list_default">

                <li ng-repeat="solicitacao in vm.listaSolicitacoes | filter:vm.search">
                    <a href="javascript:" ng-click="vm.solicitacaoSelecionada(solicitacao)">
                        <p class="left">
                            {{solicitacao.subSegmento.nome}} - {{solicitacao.dataCadastro | date: 'dd/MM/yyyy'}}
                            <span>{{solicitacao.produtos.length}} itens sendo cotados</span>
                        </p>
                        <span class="right"><i class="fa fa-chevron-right"></i></span>
                        <p class="right time" ng-show="solicitacao.ativo" my-current-time="solicitacao"></p>
                        <p class="right time done" ng-show="!solicitacao.ativo">encerrado</p>
                        <div class="clear"></div>
                    </a>
                </li>
                <hr class="space">
                <p ng-show="!vm.possuiSolicitacoes">Nenhum resultado encontrado</p>
            </ul>
        </div>
    </ion-content>
    <ion-footer-bar class="footer-nova-solicitacao">
        <a class="nova_cotacao_footer" ng-href="#/app/cotacao/cliente/solicitacao/adicionar/">
            <div class="badge-footer">
                <i class="ion-android-add"></i>
            </div>
        </a>
    </ion-footer-bar>

    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view class="popover">
            <ion-content>
                <div class="list">
                    <a class="item" href="javascript:" ng-click="vm.cotacaoFiltrar()">
                        Filtrar
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>

    <script id="cotacaoFiltro.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <div class="header">
                    <h1>Filtrar busca</h1>
                    <a ng-href="javascript:" ng-click="vm.fecharModal()">
                        <span class="back">
				            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a href="javascript:" class="" ng-click="vm.limpar()">
                        <span class="notify">
				            LIMPAR
                        </span>
                    </a>
                </div>
               <div class="center">
                <div class="form_padrao center">
                    <label for="dataInicial"  class="left data">Data Inicial</label>
                    <div class="clear">
                        <input type="date" class="form-control" name="dataInicial" ng-model="vm.filtroDataInicial">
                    </div>
                    <label for="dataFinal" class="left data">Data Final</label>
                    <div class="clear">
                        <input type="date" class="form-control" name="dataFinal" ng-model="vm.filtroDataFinal">
                    </div>
                </div>
                </div>
                <div class="form_padrao center">
                    <div class="clear">
                        <button ng-class="'btn_padrao'" type="button" ng-click="vm.filtrarDatas(vm.filtroDataInicial, vm.filtroDataFinal)">Buscar</button>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>