<ion-view cache-view="false" hide-back-button="true" ng-controller="cotacao.cliente.produto.valor.detalhar as vm">
    <ion-nav-title>
        Fornecedor - Detalhes
    </ion-nav-title>
    <ion-nav-buttons>
        <a class="button ion-chevron-left button-clear" ng-href="javascript:" ng-click="vm.voltarPagina()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="center cotacao_view">
            <!--<h2>{{vm.cotacao.solicitacaoTitulo}}</h2>-->

            <div class="head_info">
                <div class="imagem">

                    <span ng-if="vm.usuario.profileImageURL == null || vm.usuario.profileImageURL == ''">
					   <img src="img/placehold_image.png" />
                    </span>
                    <span ng-if="vm.usuario.profileImageURL != null && vm.usuario.profileImageURL != ''">
                        <a href="javascript:" ng-click="vm.ampliarImagem('zoomIn')">
					        <img ng-src="{{vm.usuario.profileImageURL}}" class="imagem-leilao"/>
                        </a>
                    </span>
                </div>
                <p class="title cor_default">{{vm.usuario.displayName}}</p>
                <span><strong>Logradouro:</strong> {{vm.usuario.enderecamento.endereco}} - nº {{vm.usuario.enderecamento.numero}}</span>
                <span><strong>Bairro:</strong> {{vm.usuario.enderecamento.bairro}}</span>
                <span><strong>Cidade:</strong> {{vm.usuario.enderecamento.cidade.nome}} - {{vm.usuario.enderecamento.cidade.estado.sigla}}</span>
                <span><strong>CPF/CNPJ:</strong> {{vm.usuario.numeroDocumento}}</span>
                <span><strong>TEL:</strong> {{vm.usuario.telefone}}</span>
                <span><strong>Email:</strong> {{vm.usuario.email}}</span>

                <hr class="space" />

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <p class="melhores"><i class="fa fa-star"></i> COTAÇÃO:</p>

        <ul class="list_default normal melhores_list">
            <li class="">
                <a href="#">
                    <!--<p class="left primeiro">{{vm.usuario.displayName}}</i>
                    </p>-->

                    <p class="left primeiro">Valor Total</i>
                    </p>
                    <!--<p class="right primeiro" ng-repeat="lance in vm.cotacao.produto.lances | orderBy:'valor' | limitTo:1">{{lance.valor | currency}}</p>-->
                    <p class="right primeiro"> {{vm.cotacao.produto.valor * vm.cotacao.produto.quantidade | currency}}</p>
                    <div class="clear"></div>
                </a>
            </li>
        </ul>

        <p class="desc">
            <strong>Produto(s) disponível:</strong> {{vm.cotacao.produto.disponivel | yesNo}}
            <br />
            <strong ng-show="vm.cotacao.produto.observacao">Observação:</strong> {{vm.cotacao.produto.observacao}}
        </p>

        <!--<p class="avalie_isso">
            <span ng-hide="vm.avaliacao.rate > 0">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <a href="javascript:" ng-click="vm.showPopup()">Avalie esta cotação!</a>
            </span>
            <span ng-if="vm.avaliacao.rate > 0" >
                Avaliação: <rating readonly="true" ng-model="vm.avaliacao.rate" max="vm.avaliacao.max"></rating>
             </span>
        </p>-->
        <hr class="space" />
    </ion-content>

    <ion-footer-bar>
        <ul class="actions">
            <li>
                <!--<a href="tel: {{vm.usuario.telefone}}">
                    <i class="fa fa-phone"></i> Ver Telefone
                </a>-->
                <a href="#" ng-click="vm.comprar()">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Comprar
                </a>
            </li>
            <li>
                <a href="#" ng-click="vm.usuarioSelecionado()">
                    <i class="fa fa-comment"></i> Chat
                </a>
            </li>
        </ul>
    </ion-footer-bar>

    <script id="avaliacao.html" type="text/ng-template">
        <p class="avalie_isso">
            <rating ng-model="vm.rating.rate" max="vm.rating.max"></rating>
        </p>
    </script>

    <script id="imagem.html" type="text/ng-template">

        <div class="modal image-modal transparent">
            <a href="javascript:" ng-click="vm.fecharImagem()"  class="icone-fechar-imagem"><i class="fa fa-times"></i></a>

            <img ng-src="{{vm.cotacao.produto.imagemURL}}" class="fullscreen-image"/>
        </div>
    </script>
</ion-view>

<!--<ion-view cache-view="false" hide-back-button="true" ng-controller="cotacao.cliente.produto.valor.detalhar as vm">
    <ion-nav-title>
        {{vm.cotacaoProduto.categoriaNome}} - Cotação
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear" ng-href="javascript:" ng-click="vm.voltarPagina()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="center cotacao_view">
            <h2>{{vm.cotacaoProduto.solicitacaoTitulo}}</h2>

            <div class="head_info">
                <div class="imagem">
                    
                    <span ng-if="vm.cotacaoProduto.produto.produto.urlImagem == null || vm.cotacaoProduto.produto.produto.urlImagem == ''">
					   <img src="img/placehold_image.png" />
                    </span>
                    <span ng-if="vm.cotacaoProduto.produto.produto.urlImagem != null && vm.cotacaoProduto.produto.produto.urlImagem != ''">
                        <a href="javascript:" ng-click="vm.ampliarImagem('zoomIn')">
					        <img ng-src="{{vm.cotacaoProduto.produto.produto.urlImagem}}" class="imagem-leilao"/>
                        </a>
                    </span>
                </div>
                <p class="title cor_default">{{vm.cotacaoProduto.produto.produto.nome}}</p>
                <span><strong>Tipo:</strong> {{vm.cotacaoProduto.produto.produto.tipoCotacao.nome}}(s)</span>
                <span><strong>Quantidade:</strong> {{vm.cotacaoProduto.produto.produto.quantidade}}</span>
                <span><strong>Data de entrega:</strong> {{vm.cotacaoProduto.produto.produto.dataEntrega | date:"MM/dd/yyyy"}}</span>

                <hr class="space" />

                <span ng-show="!vm.mostraDescricao">{{vm.cotacaoProduto.produto.produto.descricao | cut:true:110:' ...'}} 
                    <a href="javascript:" ng-show="vm.cotacaoProduto.produto.produto.descricao.length > 100" ng-click="vm.mostraDescricao = !vm.mostraDescricao">+ ver mais</a>
                </span>
                <span ng-show="!!vm.mostraDescricao">{{vm.cotacaoProduto.produto.produto.descricao}} 
                    <a href="javascript:" ng-click="vm.mostraDescricao = !vm.mostraDescricao">- ver menos</a>
                </span>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <p class="melhores"><i class="fa fa-star"></i> MELHOR COTAÇÃO:</p>

        <ul class="list_default normal melhores_list">
            <li class="">
                <a href="#">
                    <p class="left primeiro">{{vm.cotacaoProduto.usuarioNome}}</i>
                    </p>
                    <p class="right primeiro" ng-repeat="lance in vm.cotacaoProduto.produto.lances | orderBy:'valor' | limitTo:1">{{lance.valor | currency}}</p>
                    <div class="clear"></div>
                </a>
            </li>
        </ul>

        <p class="desc">
            <strong>Logradouro:</strong> {{vm.usuario.endereco.logradouro}} - nº {{vm.usuario.endereco.numero}}
            <br />
            <strong>Bairro:</strong> {{vm.usuario.endereco.bairro}}
            <br />
            <strong>Cidade:</strong> {{vm.usuario.endereco.cidade}} - {{vm.usuario.endereco.estado}}
            <br />
            <strong>CNPJ:</strong> {{vm.usuario.cnpj}}
            <br />
            <strong>TEL:</strong> {{vm.usuario.telefone}}
            <br />
            <strong>E-mail:</strong> {{vm.usuario.email}}
            <br />
        </p>

        <p class="avalie_isso">
            <span ng-hide="vm.avaliacao.rate > 0">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <a href="javascript:" ng-click="vm.showPopup()">Avalie esta cotação!</a>
            </span>
            <span ng-if="vm.avaliacao.rate > 0" >
                Avaliação: <rating readonly="true" ng-model="vm.avaliacao.rate" max="vm.avaliacao.max"></rating>
             </span>
        </p>
        <hr class="space" />
    </ion-content>

    <ion-footer-bar>
        <ul class="actions">
            <li>
                <a href="tel: {{vm.usuario.telefone}}">
                    <i class="fa fa-phone"></i> Ver Telefone
                </a>
            </li>
            <li>
                <a href="#" ng-click="vm.usuarioSelecionado()">
                    <i class="fa fa-comment"></i> Chat
                </a>
            </li>
        </ul>
    </ion-footer-bar>

    <script id="avaliacao.html" type="text/ng-template">
        <p class="avalie_isso">
            <rating ng-model="vm.rating.rate" max="vm.rating.max"></rating>
        </p>
    </script>

    <script id="imagem.html" type="text/ng-template">

        <div class="modal image-modal transparent">
            <a href="javascript:" ng-click="vm.fecharImagem()"  class="icone-fechar-imagem"><i class="fa fa-times"></i></a>

            <img ng-src="{{vm.cotacaoProduto.produto.produto.urlImagem}}" class="fullscreen-image"/>
        </div>
    </script>
</ion-view>-->