<ion-view cache-view="false" hide-back-button="true" ng-controller="cotacao.solicitacao.produto as vm">
    <ion-nav-title>
        Produtos
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear" ng-href="javascript:" ng-click="vm.voltarPagina()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="center">
            <ul class="list_default">
                <div ng-if="vm.usuario.tipoUsuario.nome === 'Fornecedor'">
                    <li ng-repeat="produto in vm.solicitacao.produtos track by $index">
                        <a href="javascript:" ng-click="vm.produtoSelecionado(produto)">
                            <p class="left" ng-show="produto.urlImagem"><img ng-src="{{produto.urlImagem}}" alt="" class="imagem-lista-produtos"></p>
                            <p class="left">{{produto.nome}}<span>{{produto.quantidade}} - {{produto.tipoCotacao.nome}}(s)</span></p>
                            <span class="right"><i class="fa fa-chevron-right"></i></span>
                            <p class="right time" ng-show="vm.solicitacao.ativo" my-current-time="vm.solicitacao"></p>
                            <p class="right time done" ng-show="!vm.solicitacao.ativo">cotado</p>
                            <div class="clear"></div>
                        </a>
                    </li>
                </div>
                <div ng-if="vm.usuario.tipoUsuario.nome === 'Cliente'">
                    <li ng-repeat="solicitacao in vm.solicitacoes">
                        <a href="javascript:" ng-click="vm.detalharProduto(solicitacao)">
                            <p class="left" ng-show="solicitacao.produto.urlImagem"><img ng-src="{{solicitacao.produto.urlImagem}}" alt="" class="imagem-lista-produtos"></p>
                            <p class="left">{{solicitacao.produto.nome}}<span>{{solicitacao.produto.quantidade}} - {{solicitacao.produto.tipoCotacao.nome}}(s)</span></p>
                            <span class="right"><i class="fa fa-chevron-right"></i></span>
                            <p class="right time" ng-show="vm.solicitacao.ativo" my-current-time="vm.solicitacao"></p>
                            <p class="right time done" ng-show="!vm.solicitacao.ativo" ng-repeat="lance in solicitacao.lances | orderBy:'valor' | limitTo:1">{{lance.valor | currency}}</p>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <hr class="space">
                    <p ng-show="vm.solicitacoes.length <= 0" class="italic">Não houve cotações</p>
                </div>
            </ul>
        </div>
    </ion-content>
</ion-view>