<ion-content>
    <div class="header">
        <a class="button ion-chevron-left btn_back" ng-click="vm.viewRegistro = !vm.viewRegistro"></a>
        <h1>Cadastre-se</h1>
    </div>

    <div class="form_padrao">
        <div class="center header_camera">
            <!--<a class="icon_cadastro" style="background-size: cover; background-image: url('{{vm.usuario.profileImageURL}}');" ng-href="javascript:"
                ng-click="vm.showPopup()">
                <i ng-if="!vm.usuario.profileImageURL" class="fa fa-camera"></i>
            </a>-->
            <!--<button ng-show="!vm.usuario.imagemSrc" type="button" class="button icon-left ion-android-delete button-clear button-dark"
            ng-click="vm.retirarImagem()" title="Remover">
                Excluir imagem
            </button>-->
            <!--<br>

            <hr class="space">-->

            <!--<button ng-show="!!vm.usuario.imagemSrc" type="button" class="button icon-left ion-android-delete button-clear button-dark"
            ng-click="vm.retirarImagem()" title="Remover">
                Excluir imagem
            </button>-->
            <!--<button class="ion-android-delete"> Excluir imagem</button>-->
            <!--<h2>Criar Conta Gratuita</h2>-->
            <img class="logo_header" src="img/icon_header.png" />
        </div>
        <form name="formRegistro" novalidate ng-submit="formRegistro.$valid && vm.registrar(vm.usuario)">
            <div class="clear">
                <button type="button" class="btn_tipoUsuario" value="" name="tipoUsuario" ng-click="vm.showPopupTipoUsuario()"> 
                    <label ng-show="!vm.usuario.tipoUsuario.length" for="">Tipo de Usuário *</label>
                    <label ng-show="!!vm.usuario.tipoUsuario.length" for="">{{vm.usuario.tipoUsuario.join(", ")}}</label>
                </button>
            </div>
            <div class="clear">
                <input type="text" maxlength="50" name="firstName" placeholder="Nome *" ng-model="vm.usuario.firstName" required/>
            </div>
            <div class="clear">
                <input type="text" maxlength="50" name="lastName" placeholder="Sobrenome *" ng-model="vm.usuario.lastName" required/>
            </div>
            <div class="clear">
                <input type="text" id="numeroDocumento" name="numeroDocumento" class="form-control" placeholder="CPF ou CPNJ *" ng-model="vm.usuario.numeroDocumento"
                    ui-br-cpfcnpj-mask required>
            </div>
            <div class="clear">
                <input type="email" name="email" placeholder="E-mail *" ng-model="vm.usuario.email" required/>
            </div>
            <div class="clear">
                <input type="text" name="telefone" placeholder="Telefone *" ng-model="vm.usuario.telefone" ui-br-phone-number required>
            </div>
            <div class="clear">
                <input type="text" name="username" placeholder="E-mail ou Apelido *" ng-model="vm.usuario.username" required/>
            </div>
            <div class="clear">
                <input type="password" name="senha" placeholder="Senha *" ng-model="vm.usuario.password" ng-model="vm.usuario.password" minlength="3"
                    required/>
            </div>

            <!--<div class="clear">
                <input type="text" name="cep" ng-blur="vm.buscarCep(vm.usuario.cep)" placeholder="CEP *" my-enter="vm.buscarCep(vm.usuario.cep)"
                    ng-model="vm.usuario.cep" ui-br-cep-mask required>
            </div>
            <div class="clear">
                <input type="text" name="numero" placeholder="Número *" ng-model="vm.usuario.numero" required>
            </div>
            <input type="hidden" name="endereco" ng-model="vm.usuario.endereco" required>

            <p class="desc_cep" ng-show="!(vm.usuario.endereco | isEmpty)">
                <strong>Logradouro:</strong> {{vm.usuario.endereco.logradouro}}
                <br />
                <strong>Bairro:</strong> {{vm.usuario.endereco.bairro}}
                <br />
                <strong>Cidade:</strong> {{vm.usuario.endereco.cidade}} - {{vm.usuario.endereco.estado}}
                <br />
            </p>-->

            <div class="clear" ng-show="!!vm.mensagem">
                <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{vm.mensagem}}
                    </span>
            </div>

            <div class="clear" ng-show="formRegistro.$submitted">
                <div ng-messages="formRegistro.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <hr class="space">

            <div class="clear">
                <input class="btn_padrao" type="submit" value="Criar Conta" />
            </div>
            <div class="clear">
                <p>Ao criar a conta, você concorda com nossos
                    <br />
                    <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a></p>
            </div>

            <script id="error-list.html" type="text/ng-template">
                <div ng-message="required">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Informe os campos com asterisco (*)
                    </span>
                </div>
                <div ng-message="minlength">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Informe senha com pelo menos 3 caracteres
                    </span>
                </div>
                <div ng-message="maxlength">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Tamanho máximo no campo nome é de 50 caracteres
                    </span>
                </div>
                <div ng-message when="cnpj">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    CNPJ inválido
                    </span>
                </div>
                <div ng-message when="email">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i> 
                    E-mail inválido
                    </span>
                </div>
                <div ng-message when="cep">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i> 
                    CEP inválido
                    </span>
                </div>
            </script>
        </form>



        <!--<form name="formRegistro" novalidate ng-submit="formRegistro.$valid && vm.registrar(vm.usuario)">
            <div class="clear">
                <select name="tipoUsuario" ng-model="vm.usuario.tipoUsuario" ng-options="tipoUsuario.nome for tipoUsuario in vm.tipoUsuario"
                required>
                    <option value="">Tipo de usuário *</option>
                </select>
            </div>
            <div class="clear">
                <input type="text" maxlength="50" name="nome" placeholder="Nome da empresa *" ng-model="vm.usuario.nome" required/>
            </div>

            <div class="clear">
                <input type="email" name="email" placeholder="E-mail *" ng-model="vm.usuario.email" required/>
            </div>
            <div class="clear">
                <input type="password" name="senha" placeholder="Senha *" ng-model="vm.usuario.password" ng-model="vm.usuario.password" minlength="3"
                required/>
            </div>
            <div class="clear">
                <input type="text" name="cnpj" placeholder="CNPJ *" ng-model="vm.usuario.cnpj" ui-br-cnpj-mask required/>
            </div>
            <div class="clear">
                <input type="text" name="telefone" placeholder="Telefone *" ng-model="vm.usuario.telefone" ui-br-phone-number required>
            </div>
            <div class="clear">
                <input type="text" name="cep" ng-blur="vm.buscarCep(vm.usuario.cep)" placeholder="CEP *" my-enter="vm.buscarCep(vm.usuario.cep)"
                ng-model="vm.usuario.cep" ui-br-cep-mask required>
            </div>
            <div class="clear">
                <input type="text" name="numero" placeholder="Número *" ng-model="vm.usuario.numero" required>
            </div>
            <input type="hidden" name="endereco" ng-model="vm.usuario.endereco" required>
            
            <p class="desc_cep" ng-show="!(vm.usuario.endereco | isEmpty)">
                <strong>Logradouro:</strong> {{vm.usuario.endereco.logradouro}}
                <br />
                <strong>Bairro:</strong> {{vm.usuario.endereco.bairro}}
                <br />
                <strong>Cidade:</strong> {{vm.usuario.endereco.cidade}} - {{vm.usuario.endereco.estado}}
                <br />
            </p>

            <div class="clear" ng-show="!!vm.mensagem">
                <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{vm.mensagem}}
                    </span>
            </div>
            
            <div class="clear" ng-show="formRegistro.$submitted">
                <div ng-messages="formRegistro.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <hr class="space">

            <div class="clear">
                <input class="btn_padrao" type="submit" value="Criar Conta" />
            </div>
            <div class="clear">
                <p>Ao criar a conta, você concorda com nossos
                    <br />
                    <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a></p>
            </div>

            <script id="error-list.html" type="text/ng-template">
                <div ng-message="required">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Informe os campos com asterisco (*)
                    </span>
                </div>
                <div ng-message="minlength">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Informe senha com pelo menos 3 caracteres
                    </span>
                </div>
                <div ng-message="maxlength">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    Tamanho máximo no campo nome é de 50 caracteres
                    </span>
                </div>
                <div ng-message when="cnpj">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    CNPJ inválido
                    </span>
                </div>
                <div ng-message when="email">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i> 
                    E-mail inválido
                    </span>
                </div>
                <div ng-message when="cep">
                    <span class="alert_error">
                    <i class="fa fa-exclamation-triangle"></i> 
                    CEP inválido
                    </span>
                </div>
            </script>
        </form>-->
    </div>
</ion-content>